{% extends 'adminpages/index.html' %}
{% load static %}

{% block title %}Kết Quả: {{ ballot.title }}{% endblock %}

{% block content %}
<div class="pc-container">
    <div class="pc-content">
<div class="card">
    <div class="card-header">
        <h4><i class="ti ti-chart-bar 
        -2"></i>Kết quả Cuối cùng cho: {{ ballot.title }}</h4>
    </div>
    <div class="card-body">
        {% comment %} <div class="alert alert-success">
            <h5 class="alert-heading">Giải mã thành công!</h5>
            <p>Dưới đây là kết quả kiểm phiếu cuối cùng.</p>
        </div> {% endcomment %}
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Hạng</th>
                    <th>Ứng cử viên</th>
                    <th class="text-end">Số phiếu</th>
                </tr>
            </thead>
            <tbody>
                {% for item in results %}
                <tr>
                    <td><strong>{{ forloop.counter }}</strong></td>
                    <td>{{ item.name }}</td>
                    <td class="text-end">{{ item.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'chitiet_baucu' ballot.id  %}" class="btn btn-secondary mt-3">Quay lại</a>
    </div>
</div>

    </div>
</div>
{% endblock %}